$seleColor: rgba(
  $color: blue,
  $alpha: 0.15,
);

.tablemap-container {
  position: relative;
  height: calc(100vh - 0px);
  background-color: #f6f5f8;
  padding: 100px 20px;
  overflow: auto;

  .tablemap-main {
    width: 800px;
    margin: 0 auto;
    &-header {
      display: flex;
      &-item {
        flex: 1;
        text-align: center;
        height: 40px;
        background: #dde6f8;
        border: 1px solid #ddd;
        margin: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
